* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Poppins';
}

/* ----------------------------------------- */
#body {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url("Images/Order/big_bg.jpg");
    min-height: 200vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Header Section */

.mini_detail {
    font-size: 14.006px;
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
    color: white;
}

.link-font {
    color: white !important;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.nav-bar {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.width {
    width: 100% !important;
}

.dropDown {
    background: #1A2F45;
    border-radius: 0px;
}

.whiteFont {
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    font-family: "Roboto";
}

.red {
    color: #cc4444;
}

.ul {
    line-height: normal;
}

/* ------------------------------------------- */
/* Input Form Section */
.formTitle {
    color: #FFF;
    font-size: 35px;
    font-weight: 400;
}

.formText {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.selector {
    color: #000;
    font-weight: 400;
    padding: 30px;
}

.dateForm {
    padding: 12px 30px;
    border-radius: 10px;
    outline: none;
    border: 5px solid white;
    transition: all .3s linear;
}

.dateForm:focus {
    border: 5px solid rgba(0, 0, 255, 0.5);
}

.formInfo {
    color: #FFF;
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
}

.imageInput {
    background: white;
}

.labelForm {
    color: #1C92EC;
    font-size: 14px;
    font-weight: 400;
}

.rubl {
    font-size: 30px;
}

.quote {
    color: white;
    padding: 0 8px;
    border-radius: 50px;
    border: 1px solid white;
}

.warning {
    color: #000;
    font-size: 10px;
    font-weight: 400;
}

.outer {
    cursor: pointer;
}

.box {
    height: 60px;
    overflow: hidden;
    width: 0px;
    background: white;
    padding: 4px 0;
    border-radius: 10px;
    transition: all .3s linear;
}

.addWidth {
    padding: 4px;
    width: 200px;
}

.labelText {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.send {
    color: #000;
    font-family: Inter;
    font-size: 35px;
    font-weight: 500;
    border-radius: 10px;
    background: white;
    border: 2px solid white;
    transition: all .3s linear;
    padding: 8px 40px;
}

@media screen and (min-width: 390px) {
    .whiteFont {
        font-size: 14.794px;
    }

    .ul {
        line-height: 35px;
    }
}